{% extends "Ideas/base.html" %}
{% block title %} Add files {% endblock %}
    {% block body %}
    <div class="container">
        <div class="form-box">
            <h1 id="title"><i class="fa-solid fa-lightbulb fa-2xl"></i></h1>
            <form  method="post" action = "{% url 'add_files' idea_id.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                   
                    
                    <div class="input-field" id="problemtionField">
                        <i class="fa-solid fa-file"></i>
                      <input type="file"  name="files" multiple>
                  </div>

                    
         
                <div class="btn-field">
                    <button type="submit" id="signupBtn">Next</button>

                </div>
            </form>
        </div>

    </div>
    {% endblock %}

<script>
    const addBtn = document.querySelector(".add");

    const input = document.querySelector(".inp-group");

    function addInput(){
        const file = document.createElement("input");
        file.type = "file";
        file.placeholder = "Attach any supporting files that could aid in the development of your idea (e.g. wireframes, presentations, spreadsheets, etc.)"
        const btn = document.createElement("a");
        btn.className = "delete";
        btn.innerHTML = "&times";
        const flex = document.createElement("div")
        flex.className = "flex"
        input.appendChild(flex);
        flex.appendChild(file);
        flex.appendChild(btn);

    }
    addBtn.addEventListener("click",addInput)
</script>
</html>