{% extends "Ideas/base.html" %}
{% load static %}
{% block styles %}     <link rel="stylesheet" type="text/css" href="{% static 'Ideas/style.css' %}"> {% endblock %}
{% block title %} Add tags {% endblock %}
{% block body %}


    
    <div class="container">
        <div class="form-box">
            <h1 id="title"><i class="fa-solid fa-lightbulb fa-2xl"></i></h1>
            <form id="addTagsForm" method="post" action="{% url 'add_tags' idea_id %}">
                {% csrf_token %}
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              
                <div id="tagsContainer">
                  <div class="input-field">
                    <i class="fa-solid fa-tag"></i>
                    <input type="text" name="tags" placeholder="Enter a tag">
                  </div>
                </div>
              
                <div class="btn-field">
                  <button type="button" id="addTagBtn" name="add_tag">Add tag</button>
                  <button type="submit" id="submitBtn" name = "finsih" formaction="{% url 'view_idea' idea_id %}">Finish</button>
                </div>
              </form>
        </div>

    </div>
    {% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    var addTagBtn = document.getElementById("addTagBtn");
    var tagsContainer = document.getElementById("tagsContainer");
    var tagIndex = 1;

    addTagBtn.onclick = function () {
        // Get the last tag input field
        var lastTagField = tagsContainer.querySelector('.input-field:last-of-type input[name="tags"]');
        
        // Check if the last tag field is non-empty before adding a new tag field
        if (!lastTagField || lastTagField.value.trim() !== "") {
            var newTagField = document.createElement('div');
            newTagField.classList.add('input-field');
            newTagField.innerHTML = '<i class="fa-solid fa-tag"></i> <input type="text" name="tags" placeholder="Enter a tag">';
            tagsContainer.appendChild(newTagField);
            tagIndex++;
        } else {
            console.log("Last tag field is empty. Not adding a new tag field.");
        }
    };
});

</script>
  {% endblock %}
{% endblock %}

