{% extends "Ideas/base.html" %}
{% load static %}

{% block styles %}   <link rel="stylesheet" type="text/css" href="{% static 'Ideas/style.css' %}"> {% endblock %}
{% block title %} Add files {% endblock %}


{% block body %}

    
      <div class="container">
        <div class="form-box">
            <h1 id="title"><i class="fa-solid fa-lightbulb fa-2xl"></i></h1>
            <form  method="post" action = "{% url 'submit_an_idea' %}">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                   
                    <div class="input-field" id="nameField">
                      <i class="fa-solid fa-n"></i>
                        <input type="text" placeholder="Name" name="name">
                    </div>
                    <div class="input-field" id="descriptionField">
                      <i class="fa-solid fa-pen-to-square"></i>
                        <input type="text" placeholder="Description" name="description" >
                    </div>
                    <div class="input-field" id="problemtionField">
                      <i class="fa-solid fa-arrow-trend-up"></i>
                      <input type="text" placeholder="Value proposition" name="problem_to_solve">
                  </div>

                    
         
                <div class="btn-field">
                    <button type="submit" id="signupBtn">Next</button>

                </div>
            </form>
        </div>

    </div>
{% endblock %}

