<!-- Ideas/your_template.html -->

{% extends "Ideas/base.html" %}
{% load static %}

{% block styles %}   
    <link rel="stylesheet" type="text/css" href="{% static 'IdeaMarketplace/home.css' %}">
{% endblock %}

{% block title %} Home Dashboard {% endblock %}
{% block body %}
    
<section class="main">
    <div class="projects-list">
        <h1>Ideas List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Value proposition</th>
                    <th>Files</th>
                    <th>Score</th>
                    <th>Employee</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{idea.id}}</td>
                    <td>{{idea.name}}</td>
                    <td>{{idea.description}}</td>
                    <td>{{ idea.problem_to_solve }}</td>
                    <td>
                        {% if idea.files.all %}
                            <form id="downloadForm" method="post" action="{% url 'download_files' idea.id %}">
                                {% csrf_token %}
                                <button type="button" style="margin-bottom: 5px;" onclick="downloadFiles()"> Download Files </button>
                            </form>
                        {% else %}
                            No files attached
                        {% endif %}
                    </td>
                    <td>{{idea.total_score}} %</td>
                    <td>{{idea.employee}}</td>
                    <td><button onclick="redirectToIdeaDetail({{ idea.id }})">add score</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</section>
{% block scripts %}

<script>
    function downloadFiles() {
        document.getElementById("downloadForm").submit();
    }
 
     function redirectToIdeaDetail(ideaId) {
        // Use JavaScript to redirect to the idea detail page
        window.location.href = "{% url 'add_scores' 0 %}".replace('0', ideaId);
    }


</script>
{% endblock %}

{% endblock %}
