{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'IdeaMarketplace/forget.css' %}">
    <script src="https://kit.fontawesome.com/89aaa44108.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    {% if validlink %}
    <div class="container">
        <div class="form-box">
            <h1 id="title"><i class="fa-solid fa-lock fa-2xl"></i></h1>
            <form  method="post">
                {% csrf_token %}
                {% if form.errors %}
                <div class="messages">
                    {% for key, value in form.errors.items %}
                        <strong class="error">{{ value }}</strong>
                    {% endfor %}
                </div>
                {% endif %}
                    
                    <div class="input-field" id="emailField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="New Password" name="new_password1">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" name = "new_password2">
                    </div>
                <div class="btn-field">
                  
                    <button type="submit" id="loginBtn">Reset password</button>

                </div>
            </form>
        </div>

    </div>
    {% else %}
            <div class="messages">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                {% endif %}
    
</body>
</html>