{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'IdeaMarketplace/forget.css' %}">
    <script src="https://kit.fontawesome.com/89aaa44108.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title"><i class="fa-solid fa-lock fa-2xl"></i></h1>
            <form  method="post">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                   
                    <div class="input-field" id="emailField">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email">
                    </div>
                    
         
                <div class="btn-field">
                    <button type="submit" id="signupBtn">Send mail</button>
                    <!-- <button type="button" id="loginBtn" class="disable">Login</button> -->

                </div>
            </form>
        </div>

    </div>
    
</body>
</html>