{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'IdeaMarketplace/forget.css' %}">
    <script src="https://kit.fontawesome.com/89aaa44108.js" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="form-box">
            <i class="fa-solid fa-shield-check fa-2xl"></i>
            
            Your password has been set. You may go ahead and <a href="{% url 'register' %}">Login Here</a>
         
                
        </div>

    </div>
    
</body>
</html>