{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'IdeaMarketplace/style.css' %}">
    <script src="https://kit.fontawesome.com/89aaa44108.js" crossorigin="anonymous"></script>
    <title>Authentication</title>

</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form  method="post">
                {% csrf_token %}
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name = "username">
                    </div>
                    <div class="input-group">
                        <div class="input-field" id="first_nameField">
                            <i class="fa-solid fa-n"></i>

                            <input type="text" placeholder="First name" name = "first_name">
                        </div>
                        <div class="input-group">
                            <div class="input-field" id="last_nameField">
                                <i class="fa-solid fa-n"></i>
    
                                <input type="text" placeholder="Last name" name = "last_name">
                            </div>
                    <div class="input-field" id="emailField">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email">
                    </div>
                    <div class="input-field" id="departmentField">
                        <i class="fa-solid fa-briefcase"></i>
                        <input type="text" placeholder="Department" name="department">
                    </div>
                    <div class="input-field" id = "passwordField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" name = "password">
                    </div>
                    <p >Forgot password? <a href="{% url 'password_reset' %}" class="forget_password">Click Here!</a></p>
                </div>
                <div class="btn-field">
                    <button type="button" id="signupBtn">Sign Up</button>
                    <button type="button" id="loginBtn" class="disable">Login</button>

                </div>
            </form>
        </div>

    </div>
    <script>
        let signupBtn = document.getElementById("signupBtn")
        let login = document.getElementById("loginBtn")
        let emailField = document.getElementById("emailField")
        let form = document.querySelector("form")
        let title = document.getElementById("title")
        const inputFields = document.querySelectorAll('input');
        var form_box = document.getElementsByClassName("form-box")[0];
        var btnField = document.getElementsByClassName("btn-field")[0];

        inputFields.forEach(field => {
        field.addEventListener('keypress', e => {
            if (e.key === 'Enter') {
            e.preventDefault();
            form.submit();
            }
        });
        });
        loginBtn.onclick = function(){
            emailField.style.maxHeight = "0";
            first_nameField.style.maxHeight = "0";
            last_nameField.style.maxHeight = "0";
            departmentField.style.maxHeight = "0";
            passwordField.style.marginTop = "-40px";
            btnField.style.marginTop = "-120px";
            form_box.style.height = "70%";
            

            title.innerHTML = "Login"
            signupBtn.classList.add("disable");
            loginBtn.classList.remove("disable");
            form.setAttribute('action', "{% url 'login' %}");
        }
        signupBtn.onclick = function(){
            emailField.style.maxHeight = "60px";
            first_nameField.style.maxHeight = "60px";
            last_nameField.style.maxHeight = "60px";
            departmentField.style.maxHeight = "60px";
            btnField.style.marginTop = "10px";
            passwordField.style.marginTop = "15px";

            form_box.style.height = "670px";
            title.innerHTML = "Sign Up"
            signupBtn.classList.remove("disable");
            loginBtn.classList.add("disable");
            form.setAttribute('action', "{% url 'register' %}");
        }
    </script>
</body>
</html>